# IDE
/.idea
/.vscode
/.fleet
/.*.meta.*

# Composer
/vendor/
auth.json

# Caches
/*.cache
/public/build
/public/hot
/public/storage
/storage/*.key

# Environment
.env
.env*local*
!.env*.example

# Misc
*.swp
*.csv
!*sample*.csv
*.log
*.png
*.bak
*.out
*.pid
